ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f17376;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: black;
}

li.dropdown {
    display: inline-block;
}
.comentario{
	width: 95%;
	height:75px;
	margin:1% 2% 2% 2%;
	padding:12px 20px;
	border:6px solid #f17376;
	border-radius:8px;
	resize: none;
	background-color:black;
	color:white;
	opacity:0.6;
	
}
.cuadrado{
	overflow: auto;
	background-color:grey;
	margin:2% 2% 0% 2%;
	width:60%;
	height:66%;
	border:6px solid #f17376;
	border-radius:8px;
	padding-left:15px;
	padding-top:15px;
	opacity:0.9;	
    float:right;
	position:relative;
}

.perfil{
	background-color:#f17376;
	margin:2% 2% 2% 2%;
	width:26%;
	height:10%;
	border:6px solid pink;
	border-radius:8px;
	float:left;
	opacity:0.9;
	
}
.botonEditarPerfil{	
    background-color:#f17376; 
    color:white; 
    border:2px solid black;
    padding:9px 32px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:16px;
    margin: 22px 2% 1px 3%;
    transition-duration:0.4s;
	border-radius:9px;
	border-color:white;
    cursor: pointer;
	float:left;
}
.datos{
	float:left;
	margin:0% 5% 2% 2%;
	width:26%;
	height:26%;
	font-size:20px;
	border:6px solid pink;
	border-radius:8px;
	background-color:black;
	opacity:0.6;
}
.dato{
	width: 23%;
	margin-left: 8%;
	font-size: 30px;
	color: white;
	text-align:left;
	}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: grey}

.dropdown:hover .dropdown-content {
    display: block;
}
.boton{
	margin:1% 2% 1% 1%;
	
	
}


.nombrePerfil{
	width: 100%;
	margin-left: 16%;
	font-weight: 100;
	font-size: 40px;
	color: white;
	margin-top: 3%;
	}
.barralog {
	background-color:white;
	height:14%;
}
.b {
	text-align:right;
	margin-right:2%;
}
.login {
	text-align:right;
	margin-right:2%;
}
.IconoInicio {
		text-align:left;
		width:30%;
		height:18px;
		margin-left:2%;
		margin-top:0%;
}
.Registrarse { 
		margin-top:5px;
		margin-bottom:5px;
		margin-right:50px;
}
.Password {
		margin-top:5px;
		margin-bottom:5px;
}		
.principal {
	width:19%;
	height:80%;
	float:left;
	margin-left:0.5%;
	margin-right:0.5%;
	text-align:left;
	font-size:18px;
}

.after-box{
	color:white;
	background-color: black;
	height:6%;
	width: 100%;
	text-align:center;
	display: inline-block;
	padding: 8px;
    text-decoration: none;
}
.linea {
	width: 100%;
	background-color: #8000FF;
	height: 4%;
}
.menu {
	height:8%;
	text-align:center;
	padding:14px 16px;
}

.botonLogin {
    background-color:black;
    border:none;
    color:white;
    padding:16px 32px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:16px;
    margin:4px 4px;
    transition-duration:0.4s;
    cursor:pointer;
}
.botonIniciarSesion {
    background-color:#f17376; 
    color:withe; 
    border:2px solid grey;
	float:right;
	border-radius:9px;
}
.botonEntrar {
	background-color:#c4c4c5; 
    color:black; 
    border:2px solid black;
    padding:16px 32px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:16px;
    margin: 22px 20% 0px 34%;
    transition-duration:0.4s;
	border-radius:9px;
	border-color:white;
    cursor: pointer;
}
.botonRegistrarse {
	background-color:#f17376; 
    color:white; 
    border:2px solid black;
    padding:16px 32px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:16px;
    margin: 22px 20% 0px 30%;
    transition-duration:0.4s;
	border-radius:9px;
	border-color:white;
    cursor: pointer;
}
.buscador {
	background-color:#bfbfbf; 
    color:Black; 
    border:0.5px solid black;
    padding:13px 30px;
    text-align:center;
    display:inline-block;
    font-size:16px;
    margin: 22px 20% 0px 30%;
	border-radius:9px;
	border-color:grey;
}

.AlturaImagen {
	height:70%;
	width:100%;
	margin-top:2%;
}

.registrar2{
	margin:2% 2% 1% 1%;
	border-radius:12px;
	width:30%;
	float:left;
	background-color:#f17376;
	opacity:0.9;
}
.viaje{
	margin-top: 2%;
	border-radius:12px;
	width:60%;
	float:left;
	background-color:#f17376;
	opacity:0.9;
}
.registrar {
	margin:10px 35%;
	border:6px solid #white;
	border-radius:8px;
	width:30%;
	float:right;
	background-color:#f17376;
	opacity:0.8;
}

.estrellas{
	font-size:45px;
	text-decoration:none;
	color:black;
	float:right;
	margin-left:30px;
}

.caballo {
    width:90%;
    padding:12px 20px;
    margin:7px 15px ;
    box-sizing:border-box;
    border:none;
	border-radius:9px;
    background-color:white;
    color:black;
	
}

.botonLoginF {
    background-color:black;
    border:none;
    color:white;
    padding:10px 15px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:16px;
    margin:1px 10px;
    transition-duration:0.4s;
    cursor:pointer;
}
.botonIniciarSesionF {
    background-color:#8000FF; 
    color:white; 
	font-weight:800;
	float:right;
}
.select {
   font-size: 20px;
   color: white;
   border: 3px solid #ccc;
   margin-top: 8;
   background-color: #8000FF;
   border-color: white;
}
.NoSeEncontraronResultados {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    border: 6px solid pink;
    border-radius: 8px;
    background-color: white;
    opacity: 0.8;
    margin: 50px 35%;
    padding: 20px;
	text-decoration:none;
}
.botonComentario {
	margin: 1.5% 2% 2% 2%;
	background-color:#8000FF; 
    color:white; 
    border:2px solid black;
    padding:16px 32px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:16px;
    transition-duration:0.4s;
	border-radius:9px;
	border-color:white;
    cursor: pointer;
}


.ParaComentar{
	text-align: center;
	width: 400px;
	font-size: 20px;
	height:30px;
	margin:0% 2% 2% 40%;
	padding:12px 20px;
	border: 6px solid #C6ABFE;
    border-radius: 8px;
    background-color: black;
    opacity: 0.8;
	float:left;
	resize: none;
	color:white;
	font-weight: 900;
}
.listado {
	height: 60px;
	margin: 5px 5px 30px 35%;
	padding: 5px 1px 5px 5px;
	border:6px solid #C6ABFE;
	border-radius:8px;
	width:30%;
	background-color:white;
	display: inline-block;
	opacity:0.8;
}

.botonEliminar {
	background-color:#white; 
    color:Black; 
    text-align:center;
    display:inline-block;
    font-size:16px;
    transition-duration:0.4s;
	border-radius:9px;
	border-color:white;
    cursor: pointer;
	padding:10px 10px 10px 10px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 3%;
	margin-right: 10px;
}
.tabla{
	border:6px solid #C6ABFE;
	border-radius:8px;
	width: 35%;
	margin-left: 31%;
	margin-top: 10px;
	background-color: #8000FF;
	opacity: 0.8;
}
.nombre{
	width: 23%;
	margin-left: 1%;
	font-weight: 100;
	font-size: 22px;
	color: white;
	text-align: center;
}
.ee{
	width: 7%;
}
label {
	color: black;
	margin-left:3%;
}

.imagenauto{
	height: 130px;
	border-radius: 8px;
	margin: 1%;
	float:left;
}

.registrarauto{
	margin-top: 2%;
	margin-right: 5%;
	padding: 10px;
	color:white;
	font-size: 25px;
	width:30%;
	background-color:#f17376;
	opacity:0.9;
    border:2px solid grey;
    padding:9px 32px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
	border-radius:9px;
	float:left;
}

.chico {
    width:16%;
    padding:10px 15px;
    margin:5px 10px ;
    box-sizing:border-box;
    border:none;
	border-radius:9px;
    background-color:white;
    color:black;
}	
.precio{
	width: 25%;
	margin-top: 3%;
	margin-left: 20%;
	margin-right: 10%;
	font-size: 22px;
	color: white;
	text-align: right;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: grey; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2F2F2F; 
	opacity: 0.6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black; 
}

.botones{
	margin:2% 2% 6% 2%;
	width:60%;
	height:10%;
	opacity:0.9;	
    float:right;
	position:relative;
}

.mostrarauto{
	margin-top: 2%;
	border-radius:12px;
	width:100%;
	float:left;
	background-color:#2f2f2f;
	opacity:0.85;
	border:2px solid pink;
}

.cuadradoViaje{
	margin:2% 2% 0% 2%;
	width:60%;
	height:55%;
	border:2px solid #f17376;
	border-radius:8px;
	padding-left:15px;
	padding-top:15px;
	background: rgba(255,255,255,0.7);	
    float:left;
	position:relative;
}

.cuadradoReservar{
	margin:2% 2% 0% 2%;
	width:29%;
	height:28%;
	border:2px solid #f17376;
	border-radius:8px;
	padding-left:15px;
	padding-top:15px;
	background: rgba(255,255,255,0.7);	
    float:right;
	position:relative;
	font-size: 18px;
}

.conductorViaje{
	margin-top: 2%;
	width:96%;
	height: 55%;
	border:1px solid #f17376;
	border-radius:8px;
	padding-top:15px;
	padding-left:15px;
	background: rgba(220,220,220,0.7);	
    float:left;
	position:relative;
}

.precioReservar{
	float:right;
	font-size: 30px;
	margin-right: 5%;
}

.asientosDisponibles{
	margin-left: 27%;
	margin-top: 5%;
	font-size: 20px;
}

.botonPostularse {
    background-color:black;
    border:none;
	border-radius: 4px;
    color:white;
    padding:10px 20px;
    text-align:center;
    text-decoration:none;
    display:inline;
    font-size:16px;
    cursor:pointer;
	margin-left: 34%;
	margin-top: 2%;
}

.botonViajePublicado {
    background-color:black;
    border:none;
	border-radius: 4px;
    color:white;
    padding:10px 20px;
    text-align:center;
    text-decoration:none;
    display:inline;
    font-size:16px;
    cursor:pointer;
	margin-top: 3%;
	margin-left: 2%;
	float:left;
}
.puntuar{
	margin:2% 2% 2% 30%;
	border-radius:12px;
	width:32%;
	height:30%;
	border:2px solid #f17376;
	border-radius:8px;
	padding-left:15px;
	padding-top:15px;
	background: rgba(255,255,255,0.7);	
	float:left;

}

.postular{
	margin-top: 2%;
	border-radius:12px;
	width:90%;
	float:left;
	background-color:#f17376;
	opacity:0.9;
}

table{
    width:100%;
	border-radius:12px;
}
table, th, td {
    border-collapse: collapse;
    text-align: left;
}
th, td {
    padding: 12px;
    text-align: left;
}
table#t01 tr:nth-child {
    background-color: #f17376;
	margin-top: 0%;
}
table#t01 th {
    background-color: black;
    color: white;
}

